---
---

<footer
  class="relative flex flex-col w-full max-w-3xl bottom-0 left-0 justify-center items-center mx-auto py-12 self-end"
>
  <div class="flex flex-row w-full justify-between items-center mx-auto gap-12">
    <div>
      <h3 class="">Bitcoin For Cash</h3>
    </div>
    <div>
      <p class="">
        Copyright © {new Date().getFullYear()} Bitcoin For Cash. All rights reserved.
      </p>
    </div>
    <div>
      <p class="text-center text-xs text-slate-500">
        Made by <a
          href="https://twitter.com/digidesigned"
          target="_blank"
          rel="noopener"
          class="hover:underline"
        >
          Digi
        </a>
      </p>
    </div>
  </div>
</footer>
