---
---

<section
  class="relative flex flex-col justify-center items-center text-center overflow-x-hidden pt-14 pb-40 sm:pt-20 lg:pt-32"
>
  <div class="flex flex-col items-center">
    <h1
      class="text-[3.75rem] mb-10 max-w-[10ch] px-4 text-center lg:text-[4.5rem] sm:max-w-[15ch] font-bold"
    >
      Bitcoin For Cash
    </h1>
    <p
      class="text-base px-8 text-center text-gray-100 sm:text-[1.5rem] max-w-3xl"
    >
      Astro is the all-in-one web framework designed for speed. Pull your
      content from anywhere and deploy everywhere, all powered by your favorite
      UI components and libraries.
    </p>
  </div>
</section>

<style>
  section:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0%;
    bottom: 10%;
    width: 150%;
    left: -25%;
    background: url(/assets/noise.webp) repeat,
      linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  }
</style>
